
body {
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 20;
  padding: 0;
  text-align: center;
  align-items: center;
}

h1 {
  font-family: 'Inconsolata', monospace;
  font-weight: lighter;
}


#map {
  overflow: hidden;
  align-self: center;
  border: 4px black double;
}
